build
node_modules
bin
# package-lock.json
deploy.log

# OpenZeppelin
unknown-*.json
.session

.openzeppelin

yarn.lock

.DS_Store
*.DS_Store
contracts_
erc721
test_
contracts/ContextProxy*
contracts/gen
.config.js
.truffle-config.js